// Core variables and mixins
@import "app.variables.less";
@import "app.mixins.less";
@import "app.utility.less";
@import "app.forms.less";


/* ==========================================================================
   header Styles
   ========================================================================== */

header{
    background: @light-secondary;
    .top-bar{
        background: @secondary;
        .drop-shadow(0px, 1px, 3px, 0px, 0.3);
        .top-bar-content{
            ul{
                text-align: center;
                margin: 0;
                padding: 0;
                li{
                    display: inline-block;
                    padding: 3px 10px;
                    border-right: 2px solid rgba(0, 0, 0, 0.1);
                    margin: 8px 0;
                    vertical-align: middle;
                    &:first-child{
                        padding-left: 0;
                    }
                    &:last-child{
                        padding-right: 0;
                        border: none;
                    }
                    &.mail{
                        i{
                            margin-right: 3px;
                            &:before{
                                margin-left: 0;
                                font-size: 22px;
                                vertical-align: middle;
                                color: @dark-grey;
                            }
                        }
                    }
                    &.social{
                        padding: 0 10px;
                        a{
                            font-size: 22px; 
                        }
                    }
                    &.account{
                        a{
                            margin-right: 0;
                            padding-right: 5px;
                            &:last-child{
                                padding-left: 5px;
                            }
                        }
                    }
                    a{
                        font-size: 15px;
                        font-weight: normal;
                        color: @dark;
                        line-height: 1;
                        &:last-child{
                            margin-right: 0;
                        }
                        &:hover{
                            color: @primary;
                            text-decoration: none;
                        }
                    }
                    span{
                        margin-right: 10px;
                        font-size: 15px;
                        font-weight: normal;
                        color: @dark;
                    }
                }
            }
        }
        .topbar-left{
            ul{
                margin-left: 70px;
            }
        }
    }
    .header{
        background: @no-color;
        .navbar-default{
            background: @no-color;
            border: none;
            padding: 35px 0 60px;
            margin-bottom: 0;
            .navbar-brand{
                padding: 0;
            }
            .ad-link{
                font-weight: 600;
                font-size: 20px;
                border-radius: 0;
                border-width: 3px;
            }
            .navbar-toggler{
                    border: 2px solid @primary;
                    color: @primary;
                    &:focus{
                        outline: none;
                        .box-shadow(none);
                    }
            }
        }   
    }
}
#search{
    .form-control{
        border-radius: 0;
        border: none;
        min-height: 45px;
        &:focus{
            .box-shadow(none);
            outline: none;
        }
        &::placeholder{
            color: @grey;
        }
    }
    .btn{
        min-height: 45px;
        border-radius: 0;
        background: rgba(0,0,0,0.15);
        &:hover{
            background: rgba(0,0,0,0);
            border-color: rgba(0,0,0,0.15);
        }
    }
}
#mobilenavbar{
    .nav-wrapper{
        background: @light-grey;
        padding: 15px 0;
        border-radius: 5px;
        li{
            padding: 5px 1rem 0;
            border-bottom: 1px solid @grey;
            &:last-child{
                border: none;
            }
            .nav-link{
                color: @dark-grey;
                font-size: 14px;
                font-weight: 600;
                svg{
                    color: @primary;
                    margin-right: 10px;
                }
            }
        }
    }
}

/*=============================================
=            Main Nav Menus            =
=============================================*/

.main-nav{
    background: darken(@primary, 10%);
    color: @white;
    border-radius: 5px;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 20px;
    position: relative;
    li{
        display: inline-block;
        width: 25%;
        margin: 0;
        padding: 5px 0;
        &.default{
            background: fade(@primary, 80%);
            .drop-shadow(0px, 0px, 3px, 1px, 0.3);
            padding: 5px 5px;
            a{
                border-left: 1px solid fade(@white, 30%);
                border-right: 1px solid fade(@white, 30%);
            }
        }
        &:hover{
            background: @secondary;
            a{
                color: @primary;
            }
        }
        &:focus{
            background: @secondary;
            a{
                color: @primary;
            }
        }
        &.active{
            background: @secondary;
            a{
                color: @primary;
            }
        }
        a{
            color: @white;
            font-size: 18px;
            font-weight: 500;
            padding: 0;
            margin: 10px 0;
        }
        &:first-child{
            a {
                border-left: 1px solid fade(@white, 30%);
            }
        }
        &:last-child{
            a {
                border-right: 1px solid fade(@white, 30%);
            }
        }
    }
}

/*=====  End of Main Nav Menus  ======*/


/*=============================================
=            Footer            =
=============================================*/

footer{
    background: fade(@light-secondary, 30%);
    padding: 60px 0 15px;
    .btn{
        border-radius: 6px;
    }
    h4{
        font-weight: bold;
        font-size: 1.15rem;
    }
    .nav{
        li{
            margin-bottom: 5px;
            a{
                color: @dark-grey;
                padding: 0;
                &:hover{
                    background: none;
                    color: @primary;
                }
                &:focus{
                    background: none;
                    color: @primary;
                }
            }
        }
    }
    .contact-us{
        > h4{
            padding: 0 10px;
        }
        .subscribe{
            padding: 0 10px;
            .input-group{
                .form-control{
                    background: @light-grey;
                    font-size: 14px;
                    &::placeholder{
                        color: @grey;
                    }
                }
                .input-group-append{
                    .btn{
                        font-size: 14px;
                        font-weight: 600;
                    }
                }
            }
        }
        .feedback{
            background: @dark-grey;
            border-radius: 6px;
            color: @white;
            font-size: 18px;
            font-weight: 600;
            text-transform: capitalize;
            &:hover{
                background: @no-color;
                color: @dark-grey;
                border-color: @dark-grey;
            }
            &:focus{
                background: @no-color;
                color: @dark-grey;
                border-color: @dark-grey;
            }
        }
        .contact{
            padding: 10px 0;
            h4{
                padding: 0 10px;
            }
            p{
                font-size: 16px;
                color: @dark-grey;
                padding: 0 10px;
            }
            .info{
                padding: 15px 10px;
                a{
                    font-size: 18px;
                    color: @primary;
                    padding-left: 10px;
                    display: inline-block;
                }
                svg{
                    color: @dark-grey;
                }
                &.mail-us{
                    border-bottom: 2px dotted @grey;
                    a{
                        font-weight: 500;
                    }
                }
                &.call-us{
                    a{
                        font-weight: 800;
                    }
                }
            }
            .follow-us{
                padding: 0 10px;
                a{
                    margin-right: 10px;
                }
            }
        }
    }
    .contact-office{
        .media-body{
            p{
                font-size: 0.875rem;
                font-weight: 500;
            }
            .direction-link{
                background: @grey;
                border-radius: 20px;
                color: @white;
                font-weight: 500;
                &:hover{
                    background: @primary;
                }
            }
            img{
                max-width: 100px;
            }
        }
    }
}
.copy-rights{
    background: @light-secondary;
    padding: 20px 0;
    p{
        margin: 0;
        font-size: 16px;
        font-weight: bold;
        color: @primary;
        a{
            color: @primary;
            text-transform: lowercase;

        }
    }
}

/*=====  End of Footer  ======*/

.sperator{
    border-bottom: 2px dotted @grey;
}


/*=============================================
=            Home Page            =
=============================================*/
.site-index{
    .form-wrapper{
        padding: 15px;
        &.search-form{
            background: @form-bg;
        }
        .form-group{
            margin: 0;
        }
    }
}
#search-form{
    margin-bottom: 0;
    .input-group-addon {
        padding: 12px 0 12px 10px;
        border: 1px solid #ccc;
    }
}

/*categories-filter*/
.categories-filter{
    background: @light-grey;
    .btn{
        position: absolute;
        top: 50%;
        -webkit-transform: translateY(-50%);
           -moz-transform: translateY(-50%);
            -ms-transform: translateY(-50%);
             -o-transform: translateY(-50%);
                transform: translateY(-50%);
    }
    .section-heading{
        font-size: 20px;
        font-weight: 600;
        color: @dark-grey;
    }
    .categories{
        padding: 0;
        position: relative;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(11%, 1fr));
        .categories-grid{
            margin-bottom: 20px;
            text-align: center;
            vertical-align: top;
            cursor: pointer;
            position: static;
            transition: margin-bottom .7s linear;
            > a{
                display: block;
                position: relative;
                margin-right: 10px;
                &::after{
                    content: '';
                    position: absolute;
                    bottom: -30px;
                    border-width: 18px;
                    border-color: transparent transparent #fff;
                    border-style: solid;
                    left: 50%;
                    -webkit-transform: translateX(-50%);
                       -moz-transform: translateX(-50%);
                        -ms-transform: translateX(-50%);
                         -o-transform: translateX(-50%);
                            transform: translateX(-50%);
                }
                &.collapsed{
                    &::after{
                        display: none;
                    }
                }
                &.active{
                    .cat-images{
                        border: 10px solid fade(@primary, 70%);
                    }
                }
            }
            &:nth-child(9){
                a{
                    margin-right: 0;
                }
            }
            &:last-child{
                a{
                    margin-right: 0;
                }
            }
            &:hover{
                .cat-images{
                    border: 10px solid fade(@primary, 70%);
                }
            }
            .cat-images{
                width: 100%;
                min-height: 100px;
                background: @white;
                position: relative;
                border: 1px solid fade(@grey, 70%);
                border-radius: 6px;
                img{
                    position: absolute;
                    max-width: 60px;
                    max-height: 60px;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                }
            }
            .category-title{
                font-size: 14px;
                margin: 5px 0 0;
                color: @dark;
            }
        }
    }
    .sub-categories{
        width: 100%;
        position: absolute;
        left: 0;
        margin: 25px 0 0;
        padding: 0;
        z-index: 9;
        display: block;
            &.collapse{
                visibility: hidden;
                opacity: 0;
                &.show{
                    height: auto;
                    visibility: visible;
                    opacity: 1;
                }
            }
            &.collapsing{
                overflow: hidden;
                height: 0;
                transition: height .7s linear;
            }
        .sub-category{
            background: @white;
            color: @dark-grey;
            padding: 25px 30px;
            border-radius: 10px;
            .subcat-head{
                font-size: 18px;
                font-weight: 600;
                text-align: left;
                margin: 0;
            }
            .cat-lists{
                height: 180px;
                width: 100%;
                padding: 20px 0 0;
                list-style: none;
                display: flex;
                flex-direction: column;
                flex-wrap: wrap;
                margin: 0;
                li{
                    text-align: left;
                    a{
                        font-size: 13px;
                        font-weight: normal;
                        display: inline-block;
                        margin: 0 0 10px 10px;
                        color: @dark-grey;
                    }
                }
            }
            .main-cat{
                position: absolute;
                top: 50%;
                left: 40%;
                transform: translate( -50%, -50% );
                border-radius: 50%;
                width: 130px;
                height: 130px;
                margin-bottom: 0;
                img {
                    vertical-align: middle;
                    border: 10px solid #ccc;
                    width: 100%;
                    height: 100%;
                    border-radius: 50%;
                }
            }
        }
    }
    .btn{
        border-radius: 0;
    }
}

/*recent ads listing*/
.recent-ads{
    margin-bottom: 30px;
    .section-heading{
        font-size: 20px;
        font-weight: 500;
        display: inline-block;
        vertical-align: middle;
        margin: 10px 0;
    }
    .all-ads{
        font-size: 16px;
        color: @link;
        vertical-align: middle;
        text-decoration: underline;
        margin: 10px 0;
    }
}
    .ads-listing{
        .row{
            &.no-gutters{
                margin: 0 -7px;
            }
        }
        .ads-grid{
            padding: 10px 7px;
            .ads-grid-content{
                display: block;
                .ads_img{
                    height: 200px;
                }
                img{
                    width: 100%;
                }
                .meta-info{
                    padding: 10px 0;
                    margin: 0 10px;
                    .price {
                        font-size: 1rem;
                        font-weight: 800;
                        color: @black;
                    }
                    .watch{
                        color: @dark-grey;
                        &:hover{
                            color: @primary;
                        }
                    }
                }
                .ad-title{
                    font-size: 15px;
                    font-weight: 600;
                    padding: 10px 0 0;
                    margin: 0 10px;
                    // border-top: 1px solid @light-grey;
                    color: @dark-grey;
                }
                .location{
                    font-size: 12px;
                    margin: 5px 10px;
                    color: @dark-grey;
                }
            }
        }
    }

.new-signin{
    text-align: center;
    font-size: 14px;
    font-weight: normal;
    color: @dark-grey;
    a{
        color: @dark-grey;
        text-decoration: underline;
        &:hover{
            color: @primary;
        }
    }
}

/*=====  End of Home Page  ======*/


/*==========================================
=            Start Listing Page            =
==========================================*/

.listing-wrapper{
    margin: 50px 0 70px;
    .sidebar-filter{
        margin-bottom: 25px;
        .filter-head{
            font-size: 15px;
            font-weight: 600;
            padding: 15px;
            margin: 0 0 5px;
            background: @secondary;
            cursor: pointer;
            position: relative;
            &::after{
                position: absolute;
                content: '';
                top:0;
                left: 0;
                width: 0;
                height: 100%;
                background-color: @secondary;
                transform-origin:left;
                transition:width 0.5s ease;
                z-index:-1;
            }
            &:hover{
                &::after{
                    width: 100%;
                }
            }
            &.collapsed{
                background: fade(@light-grey, 30%);
                border: 1px solid @light-grey;
                .fa-angle-down{
                    -webkit-transform: rotate(0deg);
                    -moz-transform: rotate(0deg);
                    transform: rotate(0deg);
                }    
            }
            .fa-angle-down{
                transition: all 0.5s;
                -webkit-transform: rotate(180deg);
                -moz-transform: rotate(180deg);
                transform: rotate(180deg);
            }
        }
        .filter-items{
            padding: 0;
            margin: 5px 0 10px;
            max-height: 235px;
            overflow-y: scroll;
            border-bottom: 1px solid @light-grey;
            list-style-type: none;
            &#adtype{
                overflow: auto;
            }
            li{
                border-style: solid;
                border-width: 1px;
                border-bottom-width: 0;
                border-color: @light-grey;
                a{
                    padding: 10px 15px;
                    color: fade(@black, 90%);
                    font-size: 13px;
                    font-weight: 500;
                    display: block;
                }
                &:hover{
                    a{
                        color: @primary;
                    }
                }
            }
        }   
    }
    .pagination{
        .page-item{
            .page-link{
                color: @dark-grey;
                &.next{
                    background: @light-grey;
                    &:hover{
                        background: @primary;
                    }
                }
                &.last{
                    background: @light-grey;
                    &:hover{
                        background: @primary;
                    }
                }
            }
        }
    }
}


/*=====  End of Listing Page  ======*/


.filtered-items{
    // border-bottom: 1px solid @light-grey;
    margin-bottom: 25px;
    h3{
        margin: 0 0 20px;
        font-size: 1.5rem;
        &.filtered-item{
            display: inline-block;
        }
    }
}
.pagination{
    .page-item{
        min-width: 45px;
        margin-right: 5px;
        text-align: center;
        .page-link{
            color: @grey;
            line-height: 1.4;
            font-weight: 600;
            &:hover{
                background: @primary;
                color: @white;
            }
            &:focus{
                outline: none;
                .box-shadow(none);
            }
        }
        &.active{
            .page-link{
                background: @primary;
                color: @white;
                border-color: @primary;
            }
        }
    }
}


/*===================================
=            Ads Listing            =
===================================*/

.select2-container{
    // min-width: 150px !important;
    &:focus{
        outline: 0;
    }
    .select2-selection--single{
        min-height: 48px;
        padding: 9px;
        border-color: #ced4da;
        .select2-selection__arrow{
            bottom: 0;
            width: 45px;
            height: 40px;
            b{
                border-width: 9px 8px 0 8px;
            }
        }
    }
    &.select2-container--open{
        .select2-selection--single{
            .select2-selection__arrow{
                b{
                    border-width: 0 8px 9px 8px;
                }
            }
        }
    }
}
.select2-results__option{
    font-size:14px;
    font-weight: 600;
    padding: 5px 15px;
}

/*=====  End of Ads Listing  ======*/

/*======================================
=            Newest Listing            =
======================================*/

.newest-listing{
    .listing-wrapper{
        .sidebar-filter{
            .filter-items{
                max-height: none;
                overflow: auto;
                li{
                    margin: 0 0 5px;
                    background: @light-grey;
                    cursor: pointer;
                    a{
                        font-size: 15px;
                        font-weight: 600;
                        padding: 15px;
                        svg{
                            margin-right: 0.5rem;
                        }
                    }
                }
            }
        }
        .filtered-items{
            margin-bottom: 0;
        }
        .search-form{
            .form-control{
                font-size: 15px;
                padding: 12px 16px;
                width: 84%;
                margin-right: 1%;
            }
            .btn{
                padding: 13px 16px;
                width: 15%
            }
        }
    }
}
.listing-wrapper{
    .sorting{
        .select2-container{
            min-width: 200px;
            .select2-selection--single{
                &.select2-selection{
                    font-size: 13px;
                    font-weight: 600;
                    text-transform: uppercase;
                    padding: 6px 9px;
                    min-height: 40px;
                    border-color: @grey;
                    .select2-selection__arrow{
                        height: 33px
                    }
                }
            }
        }
    }
}

/*=====  End of Newest Listing  ======*/



/*=======================================
=            Product Details            =
=======================================*/

.product-detais{
    .item-img-slider-wrapper{
        .item-img-slider{
            padding: 20px 0;
            .item-img-slide{
                img{
                    margin: 0 0 5px 0;
                    opacity: 0.5;
                }
            }
            .slick-current{
                .item-img-slide{
                    img{
                        opacity: 1;
                    }
                }
            }
            .slick-arrow{
                font-size: 1rem;
                color: @dark-grey;
                &:before{
                    content: none;
                }
                &.slick-prev{
                    left: 50%;
                    top: -5px;
                    -webkit-transform: translateX(-50%);
                       -moz-transform: translateX(-50%);
                        -ms-transform: translateX(-50%);
                         -o-transform: translateX(-50%);
                            transform: translateX(-50%);
                }
                &.slick-next{
                    left: 50%;
                    bottom: -5px;
                    top: auto;
                    -webkit-transform: translateX(-50%);
                       -moz-transform: translateX(-50%);
                        -ms-transform: translateX(-50%);
                         -o-transform: translateX(-50%);
                            transform: translateX(-50%);
                }
            }
        }
    }
    .ad-img-wrapper{
        .ad-img{
            .slick-slide{
                height: auto;
            }
            .slick-arrow{
                font-size: 1rem;
                color: @white;
                z-index: 99;
                background: @grey;
                border-radius: 50%;
                &:hover{
                    color: @white;
                }
                &:focus{
                    color: @white;
                }
                &:before{
                    content: none;
                }
                &.slick-prev{
                    left: 0;
                }
                &.slick-next{
                    right: 0;
                }
            }
        }
    }
}


.make-offer{
    .auth-require{
        padding: 30px 0;
        border: 1px solid @grey;
        text-align: center;
        .btn{
            font-size: 14px;
            font-weight: bold;
            min-width: 90px;
            &.btn-grey{
                background: darken(@light-grey, 2%);
                color: @light-black;
                border-bottom: 3px solid @grey;
                &:hover{
                    background: @grey;
                }
            }
            &.btn-success{
                border-bottom: 3px solid #1e7e34;
            }
        }
    }
}
.product-meta-info{
    overflow: hidden;
    .product-title{
        font-size: 26px;
        font-weight: 700;
        margin-bottom: 5px;
    }
    .location{
        font-size: 13px;
        color: @grey;
    }
    .product-price{
        width: 100%;
        display: inline-block;
        margin: 10px 0 15px;
        span{
            display: inline-block;
            strong{
                font-size: 30px;
            }
        }
        .btn{
            font-size: 18px;
            font-weight: bold;
            min-width: 180px;
            border-radius: 6px;
        }
    }
    .contact{
        padding: 10px 0;
        .col{
            text-align: center;
            padding: 15px 0;
            p{
                margin: 0;
                span{
                    font-size: 18px;
                    font-weight: 600;
                    margin-left: 5px;
                }
            }
        }
    }
}
.desc-wrap{
    .desc{
        color: @dark-grey;
        br{
            content: "A";
            display: block;
            margin-bottom: 1em;
        }
    }
    .btn{
        font-size: 13px;
        font-weight: 700;
        border-radius: 3px;
        &.btn-default{
            &:hover{
                background: @primary;
                color: @white;
            }
        }
    }
}
.viewd{
    p{
        font-size: 10px;
        font-weight: 500;
    }
}
.social-share{
    text-align: right;
}
.related-ads{
    .sec-heading{
        font-size: 20px;
        font-weight: 600;
        margin-bottom: 0;
    }
}

/*=====  End of Product Details  ======*/


/*=========================================
=            Cars And Vehicles            =
=========================================*/

.filtered-head{
   font-size: 15px;
   font-weight: 600;
   padding: 10px 15px;
   margin: 0 0 5px;
   background: fade(@light-grey, 30%);
   border: 1px solid @light-grey;
   cursor: pointer;
   position: relative;
   width: 100%;
   span{
    display: inline-block;
    vertical-align: top;
    zoom: 1; /* Fix for IE7 */
    *display: inline; /* Fix for IE7 */
    padding: 7px 0;
   }
   a{
    font-size: 13px;
    font-weight: 600;
   }
}
.cars-and-vehicles{
    .filtered-items{
        padding: 0;
        margin: 5px 0 10px;
        border-bottom: 1px solid @light-grey;
        list-style-type: none;
        li{
            border-style: solid;
            border-width: 1px;
            border-bottom-width: 0;
            border-color: @light-grey;
            padding: 15px;
            color: fade(@black, 90%);
            font-size: 13px;
            font-weight: 500;
            a{
                color: @dark-grey;
            }
        }
    }
}

/*=====  End of Cars And Vehicles  ======*/



/*======================================
=            Dashboard Page            =
======================================*/

.dashboard{
    .dash-content-wrapper{
        .page-title{
            font-size: 30px;
            font-weight: 500;
            text-align: center;
        }
        .dash-content{
            background: #f4f3ee;
            border-radius: 6px;
            padding: 64px;
            margin-bottom: 290px;
            .drop-shadow(0px, 0px, 3px, 1px, 0.3);
            .dash-menus{
                text-align: center;
                .menus-item{
                    background: @white;
                    border-radius: 6px;
                    margin-bottom: 10px;
                    .drop-shadow(0px, 0px, 1px, 0px, 0.3);
                    &:hover{
                        background: @light-secondary;
                    }
                    a{
                        display: block;
                        padding: 25px 0;
                        .menus-img{
                            width: 110px;
                            height: 110px;
                            margin: 0 auto 20px;
                            position: relative;
                            img{
                                position: absolute;
                                top: 50%;
                                left: 50%;
                                -webkit-transform: translate(-50%, -50%);
                                   -moz-transform: translate(-50%, -50%);
                                    -ms-transform: translate(-50%, -50%);
                                     -o-transform: translate(-50%, -50%);
                                        transform: translate(-50%, -50%);
                            }
                        }
                        .action-head{
                            font-size: 16px;
                            font-weight: 500;
                            color: @dark;
                            margin-bottom: 0;
                        }
                    }
                }
            }
            .start_selling{
                padding: 0 32px;
                h4{
                    font-size: 20px;
                    font-weight: 600;
                }
                p{
                    color: darken(@grey, 10%);
                }
                .btn{
                    border-radius:  0;
                }
            }
        }

    }
}

/*=====  End of Dashboard Page  ======*/


/*=======================================
=            Buy Credit Page            =
=======================================*/

.buy-credit{
    .credit-wrapper{
        margin-bottom: 50px;
        .page-title{
            font-size: 24px;
            font-weight: 500;
            text-align: center;
        }
        .page-title-desc{
            font-weight: 500;
            color: @grey;
            text-align: center;
        }
        .credit-method{
            h3{
                font-size: 20;
                font-weight: 500;
            }
            .form{
                &.buy-credit-form{
                    .form-group{
                        .cstm-radio{
                            text-align: left;
                            label{
                                background: @light-grey;
                                padding: 15px 25px;
                                margin-bottom: .3rem;
                                &::before{
                                    left: 10px;
                                }
                                &::after{
                                    left: 15px;
                                }
                                img{
                                    max-width: 40px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

/*=====  End of Buy Credit Page  ======*/



/*=======================================
=            My Adverts Page            =
=======================================*/

.my-adverts{
    margin-bottom: 100px;
    .adverts-wrapper{
        padding: 0 15px;
        .page-title{
            font-size: 30px;
            font-weight: 500;
            text-align: center;
        }
        .adverts-btn{
            .btn{
                font-size: 20px;
                font-weight: bold;
                min-width: 158px;
                border-radius: 0;
                &.btn-grey{
                    background: fade(@dark-grey, 70%);
                    &:hover{
                        background: @dark-grey;
                    }
                }
            }
        }
        .adverts-list{
            .ad-list-head{
                color: fade(@dark-grey, 70%);
            }
            .ad-list{
                .ad-duration{
                    color: fade(@dark-grey, 70%);
                }
                .ad-info{
                    img{
                        max-width: 90px;
                        max-height: 90px;
                    }
                    .media-body{
                        h5{
                            font-size: 16px;
                            font-weight: 600;
                        }
                        span{
                            font-size: 13px;
                            color: fade(@dark-grey, 70%);
                        }
                        ul{
                            display: inline-block;
                            font-size: 13px;
                            color: fade(@dark-grey, 70%);
                            padding: 0;
                            margin-bottom: 0;
                            margin-left: 5px;
                            li{
                                display: inline-block;
                                padding-left: 7px;
                                margin-left: 5px;
                                position: relative;
                                &::before{
                                    content: ' ';
                                    position: absolute;
                                    border: 2px solid fade(@dark-grey, 70%);
                                    border-radius: 50%;
                                    left: 0;
                                    top: 50%;
                                    -webkit-transform: translateY(-50%);
                                       -moz-transform: translateY(-50%);
                                        -ms-transform: translateY(-50%);
                                         -o-transform: translateY(-50%);
                                            transform: translateY(-50%);
                                }
                            }
                        }
                    }
                }
                .actions{
                    .action-link{
                        display: inline-block;
                        padding: 10px;
                        background: @light-grey;
                        width: 80px;
                        margin-right: .1rem;
                        .drop-shadow(0px, 0px, 1px, 0px, 0.3);
                        &:hover{
                            background: darken(@light-grey, 10%);
                        }
                        &:last-child{
                            margin-right: 0;
                        }
                        *{
                            text-align: center;
                            display: block;
                            margin: 0 auto;
                        }
                        img {
                            width: 28px;
                            height: 28px;
                        }
                        span{
                            font-size: 13px;
                            font-weight: 500;
                            margin-top:15px;
                            color: @dark-grey;
                        }
                    }
                }
            }
        }
    }
}

/*=====  End of My Adverts Page  ======*/


/*======================================
=            Watchlist Page            =
======================================*/

.my-watchlist{
    .watchlist-wrapper{
        padding: 0 15px;
        .page-title{
            font-size: 30px;
            font-weight: 500;
            text-align: center;
        }
        .watchlist-list{
            margin-bottom: 190px;
            .watchlist-head{
                color: fade(@dark-grey, 70%);
            }
            .watchlist{
                border-top: 1px solid @grey;
                &:last-child{
                    border-bottom: 1px solid @grey;
                }
                > div{
                    border-left: 1px solid @grey;
                    &:last-child{
                        border-right: 1px solid @grey;
                    }
                }
                &:nth-child(odd){
                    background: fade(@light-grey, 50%);
                }
                .watchlist-info{
                    .product-title{
                        font-size: 16px;
                        font-weight: 600;
                        position: absolute;
                        top: 50%;
                        -webkit-transform: translateY(-50%);
                           -moz-transform: translateY(-50%);
                            -ms-transform: translateY(-50%);
                             -o-transform: translateY(-50%);
                                transform: translateY(-50%);
                    }
                }
                .price{
                    font-size: 16px;
                    font-weight: 600;
                    position: absolute;
                    top: 50%;
                    -webkit-transform: translateY(-50%);
                       -moz-transform: translateY(-50%);
                        -ms-transform: translateY(-50%);
                         -o-transform: translateY(-50%);
                            transform: translateY(-50%);
                }
                .actions{
                    text-align: right;
                    position: absolute;
                    top: 50%;
                    right: 15px;
                    -webkit-transform: translateY(-50%);
                       -moz-transform: translateY(-50%);
                        -ms-transform: translateY(-50%);
                         -o-transform: translateY(-50%);
                            transform: translateY(-50%);
                    .btn{
                        font-size: 16px;
                        font-weight: 600;
                        border-radius: 0;
                        &.buy-now{
                            min-width: 130px;
                        }
                        &.remove{
                            background: fade(@dark-grey, 70%);
                            min-width: 100px;
                        }
                    }
                }
            }
        }
    }
}

/*=====  End of Watchlist Page  ======*/


/*===============================================
=            Business Directory Page            =
===============================================*/

#directory-page{
    .content{
        margin-top: -50px;
        .directory-wrapper{
            padding-top: 40px;
            background: @dark-grey;
            .search-form{
                .form-group{
                    margin-bottom: 0;
                }
            }
            .directories-location{
                position: relative;
                .directories-list{
                    position: absolute;
                    right: 0;
                    bottom: 0;
                    height: 90%;
                    width: 585px;
                    border: 0;
                    .drop-shadow(0px, 1px, 3px, 0px, 0.3);
                    .card-header{
                        background: fade(@dark-grey, 70%);
                        color: @white;
                        font-size: 20px;
                        font-weight: normal;
                        text-align: center;
                    }
                    .card-body{
                        height: 100%;
                        overflow-y: scroll;
                        .list-group{
                            .list-group-item{
                                a{
                                    font-size: 15px;
                                    font-weight: normal;
                                    color: @dark-grey;
                                    i{
                                        margin-right: 15px;
                                        &::before{
                                            margin-left: 0;
                                        }
                                    }
                                }
                            }
                        }
                    }
                    .card-footer{
                        background: @light-secondary;
                        .pagination{
                            margin-bottom: 0;
                            .page-item{
                                .page-link{
                                    border-radius: 5px;
                                    color: @white;
                                    font-size: 18px;
                                    background: fade(@dark-grey, 70%);
                                    &.next{
                                        color: @grey;
                                        background: @white;
                                    }
                                    &.last{
                                        color: @grey;
                                        background: @white;
                                    }
                                }
                                &.active{
                                    .page-link{
                                        color: @white;
                                        background: @primary;
                                    }
                                }
                                &:hover{
                                    .page-link{
                                        color: @white;
                                        background: @primary;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

/*=====  End of Business Directory Page  ======*/

/*=======================================================
=            Business Directory Details Page            =
=======================================================*/

.directory-details{
    .sec-heading{
        font-size: 30px;
        font-weight: 500;
        color: @dark-grey;
    }
}
.direction-form{
    #direction-form{
        .form-control{
            font-size: 15px;
            font-weight: normal;
            &::placehoder{
                color: @grey;
            }
        }
        .btn{
            font-size: 16px;
            font-weight: normal;
            padding: 11px 16px;
            &.btn-grey{
                background: darken(@grey, 20%);
                &:hover{
                    background: darken(@grey, 40%);
                }
            }
        }
    }
}
.directory-info-wrap{
    .directory-info{
        background: fade(@light-grey, 60%);
        padding: 20px;
        > div{
            padding-bottom: 10px;
            margin-bottom: 10px;
            &.email-info{
                padding-bottom: 0;
                margin-bottom: 0;
            }
        }
        .sub-sec-heading{
            font-size: 15px;
            font-weight: 500;
            color: fade(@dark-grey, 50%);
            margin-bottom: 5px;
        }
        .sec-content{
            font-size: 16px;
            font-weight: 500;
            margin: 0;
            color: @dark-grey;
            a{
                font-size: 14px;
                font-weight: normal;
                color: @blue;
            }
        }
    }
    .location-map{
        iframe{
            width: 100%;
            height: 400px;
        }
        .location-cords{
            font-size: 12px;
            font-weight: normal;
            color: @dark-grey;
            margin-top: 10px;
            letter-spacing: 1px;
        }
    }
}
.page-action{
    color: darken(@grey, 15%);
    > a{
        color: darken(@grey, 15%);
    }
    .social-share{
        text-align: left;
        margin-top: 10px;
    }
}
.user-ads{
    .sec-heading{
        font-size: 20px;
        font-weight: 600;
        color: @dark-grey;
    }
    .btn{
        font-size: 20px;
        font-weight: bold;
        border-radius: 0;
        min-width: 115px;
    }
}

/*=====  End of Business Directory Details Page  ======*/

/*=======================================
=            Issue Info Page            =
=======================================*/
.issue-info-banner{
    // padding-right: 75px;
}
.issue-banner-details{
    background: @light-grey;
    padding: 20px 25px 20px 25px;
    text-align: center;
    h2{
        font-size: 18px;
        font-weight: 600;
        line-height: normal;
        color: @dark-grey;
    }
    .btn{
        font-size: 16px;
        font-weight: 600;
        min-width: 130px;
        border-radius: 0;
    }
}

.issue-info-content{
    h2{
        font-size: 30px;
        font-weight: 500;
        color: @dark-grey;
    }
    p{
        font-size: 15px;
        font-weight: normal;
    }
    .issue-info-listing{
        list-style: none;
        padding: 0;
        margin-top: 1rem;
        li{
            padding: 10px 5px;
            border-bottom: 1px dotted @grey;
            font-size: 15px;
            font-weight: 600;
            font-style: italic;
            i{
                &::before{
                    margin-right: 15px;
                    margin-left: 0;
                    vertical-align: middle;
                    font-size: 15px;
                }
            }
            &:last-child{
                border-bottom: 0;
            }
        }
    }
}

/*=====  End of Issue Info Page  ======*/



/*==================================
=            About Page            =
==================================*/

.about-wrapper{
    .page-head{
        font-size: 30px;
        font-weight: 500;
        color: @dark-grey;
        text-transform: uppercase;
    }
    .sec-heading{
        font-size: 20px;
        font-weight: bold;
        color: @primary;
        text-transform: uppercase;
    }
    .desc{
        p{
            font-size: 14px;
            font-weight: normal;
            line-height: normal;
            margin-bottom: 20px;
        }
    }
    .our-leaders{
        .leaders{
            margin: 30px 0;
            .media{
                img{
                    border: 8px solid @light-grey;
                }
                h5{
                    font-size: 16px;
                    font-weight: bold;
                }
                p{
                    font-size: 14px;
                    font-weight: normal;
                    color: fade(@dark-grey, 65%);
                    min-height: 50px;
                }
                a{
                    font-size: 14px;
                    font-weight: normal;
                    color: @primary;
                    word-break: break-all;
                }
            }
        }
        .row{
            border-bottom: 1px solid @grey;
            &:last-child{
                border-bottom: 0;
                .leaders{
                    margin-bottom: 0;
                }
            }
            .leaders{
                &:nth-child(2){
                    border-left: 1px solid @grey;
                }
            }
        }
    }
}
.team-wrapper{
    background: @dark-grey;
    padding: 50px 0;
    .team-banner{
        text-align: center;
    }
    .list-head{
        font-size: 16px;
        font-weight: 600;
        color: @white;
        padding-top: 10px;
    }
    ul{
        list-style: none;
        padding: 0;
        li{
            font-size: 13px;
            font-weight: normal;
            color: @grey;
            padding: 5px 0;
        }
    }
}
.gallery-wrapper{
    background: #f0f0f0;
    h2{
        font-size: 30px;
        font-weight: 500;
        color: @dark-grey;
        text-align: center;
    }
    .gallery-grid{
        img{
            border: 8px solid fade(@grey, 60%);
            margin-bottom: 30px;
            max-width: 100%;
        }
    }
}

/*=====  End of About Page  ======*/

/*===================================
=            Logout Page            =
===================================*/

#logout-page {
    .main-nav {
        z-index: 1;
    }
}
.logout-wrapper{
    background: url("../images/banner.jpg");
    background-size: cover;
    padding-top: 50px;
    margin-top: -42px;
    position: relative;
    &:before {
        content: "";
        right: 0;
        left: 0;
        background-size: cover;
        top: 80%;
        max-width: 100%;
        position: absolute;
        bottom: 0;
        background-color: #395173;
    }
    .banner-caption{
        padding-top: 80px;
        h1 {
            font-size: 60px;
            color: #fff;
            text-transform: uppercase;
            font-weight: 700;
            line-height: 1;
        }
        p {
            color: #fff;
            font-size: 18px;
        }
        h6 {
            color: #fff;
            font-size: 18px;
        }
        .btn {
            font-size: 20px;
            text-transform: uppercase;
            color: #000;
            font-weight: bold;
            font-family: 'Poppins', sans-serif;
            padding: 15px 30px;
            border: none;
            border-radius: 0;
            &:hover{
                color: @white;
            }
        }
    }
    img {
        padding: 10px 0 50px;
    }
}

/*=====  End of Logout Page  ======*/


/*================================================
=            Trems And Condition Page            =
================================================*/
.terms-wrapper {
    margin-bottom: 85px;
    .page-heading {
        color: #5d5d5d;
        font-size: 30px;
        padding: 30px 0 20px;
        text-align: center;
    }
}
.accordion-group {  
    .heading {
        color: #5d5d5d;
        background: #e9e902;
        font-size: 22px;
        border-left: 6px solid #e2141c;
        padding: 15px 35px 15px 15px;
        font-weight: 600;
        cursor: pointer;
        margin: 0;
        position: relative;
        i{
            float: right;
            &.flaticon-down-arrow{
                display: none;
            }
        }
        &.collapsed  {
            background: #eaeaea;
            font-weight: 300;
            border-left: 6px solid #a6a6a6;
            i{
                float: right;
                &.flaticon-up-arrow{
                    display: none;
                }
                &.flaticon-down-arrow{
                    display: block;
                }
            }
        }
    }
    .accordion-desc {
        p{
            color: #737272;
            font-size: 15px;
            padding: 10px 20px;
        }
    }
}

/*=====  End of Trems And Condition Page  ======*/



/*====================================
=            Contact Form            =
====================================*/
#contact-page{
    .main-nav{
        z-index: 9;
    }
}
.contact-wrapper{
    margin-top: -42px;
}
.contact-info{
    background: fade(@blue, 70%);
    position: relative;
    .address-wrapper{
        margin-top: 75px;

        &::before{
            content: '';
            position: absolute;
            top: 0;
            bottom: 0;
            right: 15px;
            left: 15px;
            background: @white;
        }
    }
    .office-address{
        padding: 40px 30px;
        background: @white;
        h2{
            font-size: 26px;
            color: #e2141c;
            font-weight: 600;
            position: relative;
        }
        h3{
            color: darken(@grey, 15%);
            font-size: 15px;
            font-weight: 500;
            margin-top: 15px;
            margin-bottom: 0;
        }
        p{
            font-size: 16px;
            font-weight: 500;
            margin: 0;
        }
        a{
            color: @dark;
            font-size: 16px;
            &:hover{
                color: @primary;
            }
        }
    }
}
.text-ads{
    background: @secondary;
    padding: 20px 30px;
    position: relative;
    p{
        position: relative;
        font-size: 14px;
        padding: 0 35px;
        margin: 0;
        font-weight: 500;
        color: fade(@dark-grey, 50%);
        strong{
            color: @dark;
        }
        svg{
            color: @dark;
            position: absolute;
            left: 0;
            top: 50%;
            -webkit-transform: translateY(-50%);
               -moz-transform: translateY(-50%);
                -ms-transform: translateY(-50%);
                 -o-transform: translateY(-50%);
                    transform: translateY(-50%);
        }
    }
}

.get-in-touch{
    margin-top: 60px;
    margin-bottom: 25px;
}
.contact-form {
    margin: 0 auto 50px;
    width: 80%;
    #form-contact{
        h2{
            text-align: center;
            font-size: 26px;
            color: #414141;
            margin-bottom: 30px;
        }
        .form-group{
            margin-bottom: 0;
        }
        .form-control{
            .drop-shadow(0px, 0px, 5px, -1px, 0.3);
            border-width: 1px;
        }
        textarea{
            min-height: 165px;
        }
        .btn {
            border-radius: 0px;
            font-size: 20px;
            font-weight: 600;
            padding: 10px 25px;
        }
    }
}
.map{
    iframe{
        width: 100%;
        height: 420px;
    }
}

/*=====  End of Contact Form  ======*/


