// default styles
body {
    font-family: 'Poppins';
    font-size: 0.875rem;
    a{
        text-decoration: none;
        color: @grey;
        &:hover{
            text-decoration: none;
            color: @primary;
        }
        &:focus{
            text-decoration: none;
            color: @primary;
        }
    }
    &:hover{
        text-decoration: none;
    }
    &:focus{
        text-decoration: none;
    }
}
p{
    margin: 0 0 0.5rem;
}

/* ==========================================================================
   Utility styles
   ========================================================================== */
.btn{
    &:focus{
        .box-shadow(none);
    }
    &.btn-primary{
        background: @secondary;
        color: @primary;
        border-color: @primary;
        &:hover{
            background: @primary;
            color: @white;
            border-color: @primary;
        }
        &:not(:disabled):not(.disabled):active{
            background: @primary;
            color: @white;
            border-color: @primary;
            &:focus{
                .box-shadow(none);
            }
        }
    }
    &.btn-default{
        background: @primary;
        color: @white;
        border-color: @primary;
        &:hover{
            background: @secondary;
            color: @primary;
        }
        &:focus{
            background: @secondary;
            color: @primary;
        }
    }
    &.btn-secondry{
        background: @secondary;
        color: @black;
        border-color: @secondary;
        &:hover{
            background: darken(@secondary, 5%);
        }
    }
    &.btn-grey{
        background: @grey;
        color: @white;
        &:hover{
            background: darken(@grey, 5%);
        }
    }
    &.btn-fb{
        background: @facebook;
        color: @white;
        &:hover{
            background: darken(@facebook, 10%)
        }
    }
    &.btn-google{
        background: @google;
        color: @white;
        &:hover{
            background: darken(@google, 10%)
        }
    }
    svg{
        &.svg-inline--fa{
            vertical-align: 0;
        }
    }
}
.empty-space{
    height: 15px;
}

.breadcrumb{
    background: @no-color;
    padding-left: 0;
    padding-top:  0;
    .breadcrumb-item{
            font-size: 12px;
            font-weight: normal;
            color: darken(@grey, 20%);
        a{
            font-size: 12px;
            font-weight: normal;
            color: darken(@grey, 20%);
            &:hover{
                color: @primary;
            }
        }
        &:before{
            color: darken(@grey, 20%);
        }
        &:nth-child(2){
            &:before{
                content: " ";
            }
        }
        &.back{
            a{
                font-size: 13px;
                font-weight: bold;
                color: @dark-grey;
                text-transform: uppercase;
            }
        }
    }
}



/*====================================
=            social share            =
====================================*/

.social{
    .svg-inline--fa{
        background: @no-color;
        &.fa-twitter{
            &:hover{
                color: @twitter;
            }
        }
        &.fa-facebook-f{
            &:hover{
                color: @facebook;
            }
        }
        &.fa-google-plus-g{
            &:hover{
                color: @g-plus;
            }
        }
    }
}
.social-share{
    .svg-inline--fa{
        background: @white;
        &.fa-pinterest-p{
            color: @pinterest;
            &:hover{
                color: darken(@pinterest, 15%);
            }
        }
        &.fa-twitter{
            color: @twitter;
            &:hover{
                color: darken(@twitter, 15%);
            }
        }
        &.fa-facebook-f{
            color: @facebook;
            &:hover{
                color: darken(@facebook, 15%);
            }
        }
        &.fa-google-plus-g{
            color: @g-plus;
            &:hover{
                color: darken(@g-plus, 15%);
            }
        }
    }
}
.follow-us{
    .svg-inline--fa{
        background: @white;
        &.fa-twitter{
            &:hover{
                color: @twitter;
            }
        }
        &.fa-facebook-f{
            &:hover{
                color: @facebook;
            }
        }
        &.fa-google-plus-g{
            &:hover{
                color: @g-plus;
            }
        }
    }
}

/*=====  End of social share  ======*/
