@import "app.variables.less";

@media (min-width: 1251px) and (max-width: 1340px){
	.categories-filter{
		.col-md-2{
			padding-right: 0;
		}
	}
}

@media (max-width: 1250px) {
	.categories-filter{
		> .container{
			> .row{
				> .col-md-10{
					-webkit-box-flex: 0;
					-ms-flex: 0 0 100%;
					flex: 0 0 100%;
					max-width: 100%;
				}
				> .col-md-2{
					display: none;
				}
			}
		}
		.categories {
			.categories-grid {
				.cat-images{
					min-height: 80px;
				}
			}
		}
	}
}

@media (max-width: 1140px) {
	.categories-filter {
		.sub-categories {
			.sub-category{
				.cat-lists{
					height: 250px;
				}
			} 
		}
	}
}

@media (max-width: 892px) {
	.categories-filter {
		.sub-categories {
			.sub-category{
				.cat-lists{
					height: 300px;
				}
			} 
		}
	}
}

@media (min-width: 576px) and (max-width: 992px) {
	.container{
		max-width: none;
	}
	.logout-wrapper{
		.banner-caption{
			h1{
				font-size: 46px;
			}
		}
	}
	.form{
		&.pass-rest-form{
			width: 80%;
		}
	}
}
@media only screen and (max-width : 992px){
	header {
		.top-bar {
			.topbar-left {
				ul{
					margin-left: 15px;
				}
				#search {
					.form-control{
						width: 150px;
					}
				}
			}
		}
	}
	.contact-form{
		width: 100%;
	}
	.form{
		&.login-form{
			width: auto;
			padding: 0 20px;
		}
	}
}

@media (min-width: 767px) {
	.container{
		max-width: 90%;
	}
}

@media only screen and (max-width : 767px) {
	header{
		.top-bar{
			.top-bar-content{
				ul{
					li{
						&.social{
							border:none;
						}
					}
				}
			}
		}
	}
	.main-nav{
		display: grid;
		grid-template-columns: auto auto auto;
		li{
			display: auto;
			width: auto;
		}
	}
	.categories-filter {
		.categories{
			display: inline-block;
			margin-right: -15px;
			margin-left: -15px;
			.categories-grid{
				width: 50%;
				float: left;
				padding-left: 15px;
				padding-right: 15px;
				&:hover{
					.cat-images{
						border-width: 5px;
						img{
							padding: 5px;
						}
					}
				}
				a{
					width: 100%;
					height: 50px;
					background: @white;
					vertical-align: middle;
					position: relative;
					.cat-images{
						width: 50px;
						height: 50px;
						min-height: auto;
						float: left;
						background: @no-color;
						border:none;
						padding: 5px;
						border-right: 1px solid @light-grey;
						img{
							width: 100%;
							height: 50px;
							padding: 10px;
							max-height: auto;
							border: none;
						}
					}
					&.active{
						.cat-images{
							border-width: 5px;
							img{
								padding: 5px;
							}
						}
					}
					.category-title{
						position: absolute;
						margin-top: 0;
						padding-left: 60px;
						top: 50%;
						text-align: left;
						-webkit-transform: translateY(-50%);
						   -moz-transform: translateY(-50%);
						    -ms-transform: translateY(-50%);
						     -o-transform: translateY(-50%);
						        transform: translateY(-50%);
					}
				}
			}
		}
		.sub-categories {
			.sub-category {
				padding: 10px;
				margin: 0 15px;
				.cat-lists{
					display: inline-block;
					flex-wrap: nowrap;
					height: auto;
					padding-top: 0;
					li{
						width: 33.3333%;
						float: left;
						padding: 10px 10px 10px 0;
						svg{
							display: none;
						}
						a{
							height: auto;
							width: auto;
							margin-bottom: 0;
							font-size: 13px;
							margin-left: 5px;
						}
					}
				}
			}
		}
	}
	.product-detais{
		.item-img-slider-wrapper{
			.item-img-slider{
				padding: 10px 20px;
				.slick-slide{
					height: auto;
					margin: 0 5px;
				}
				.slick-arrow{
					svg{
						-webkit-transform: rotate(-90deg);
						   -moz-transform: rotate(-90deg);
						    -ms-transform: rotate(-90deg);
						     -o-transform: rotate(-90deg);
						        transform: rotate(-90deg);
					}
					&.slick-prev{
						left: 0;
						top: 50%;
						-webkit-transform: translateY(-50%);
						-moz-transform: translateY(-50%);
						-ms-transform: translateY(-50%);
						-o-transform: translateY(-50%);
						transform: translateY(-50%);
					}
					&.slick-next{
						left: auto;
						bottom: auto;
						right: 0;
						top: 50%;
						-webkit-transform: translateY(-50%);
						-moz-transform: translateY(-50%);
						-ms-transform: translateY(-50%);
						-o-transform: translateY(-50%);
						transform: translateY(-50%);
					}
				}
			}
		}
	}
	#directory-page{
		.content{
			.directory-wrapper{
				.directories-location{
					iframe{
						display: none;
					}
					.directories-list{
						position: static;
						width: 100%;
						height: 100%;
					}
				}
			}
		}
	}
	.directory-info-wrap{
		.location-map{
			iframe{
				height: 250px;
			}
		}
	}
	.logout-wrapper{
		.banner-caption{
			h1{
				font-size: 30px;
				line-height: normal;
				text-transform: none;
			}
		}
	}
	.form{
		&.signup-form{
			width: auto;
			padding: 0 25px;
		}
	}
	.mobile-filter{
		width: 200px;
		margin-bottom: 15px;
	}
	#search{
		.form-control{
			width: calc(100% - 85px);
			border: 1px solid @grey;
		}
	}
	.form{
		&.pass-rest-form{
			width: 100%;
			// margin: 0 20px;
			h2{
				font-size: 26px;
			}
		}
	}
}

@media only screen and (max-width : 575px){
	header{
		.header{
			.navbar-default{
				padding: 35px 0;
			}
		}
	}
	.ads-listing{
		.ads-grid{
			.ads-grid-content{
				.ad-title{
					font-size: 12px;
				}
				.location{
					font-size: 11px;
				}
			}
		}
	}
	.ad-img-wrapper{
        .ad-img{
        	.item-img-view{
        		img{
        			margin: 0 auto;
        		}
        	}
        }
    }
    .about-wrapper{
		.our-leaders{
			.row{
				border-bottom: 0;
				.leaders{
					margin: 0;
					padding-top: 20px;
					padding-bottom: 20px;
					border-bottom: 1px solid @grey;
					&:nth-child(2){
						border-left: 0;
					}
				}
			}
		}
	}
	.logout-wrapper{
		&:before{
			display: none;
		}
		.banner-caption{
			text-align: center;
		}
	}
	.accordion-group{
		.heading{
			font-size: 16px;
		}	
	}
	.contact-info{
		padding-bottom: 50px;
		.address-wrapper{
			&:last-child{
				margin-top: 50px;
			}
		}
	}
	.text-ads{
		p{
			padding-right: 0;
		}
	}
	.map{
		iframe{
			height: 300px;
		}
	}
	.dashboard{
		.dash-content-wrapper{
			.dash-content{
				padding: 64px 15px;
				margin-bottom: 100px;
			}
		}
	}
	.my-watchlist {
		.watchlist-wrapper {
			.watchlist-list {
				.watchlist {
					margin-bottom: 15px;
					border-bottom: 1px solid @grey;
					> div{
						border-left: 1px solid @grey;
						&:nth-child(2){
							border-right: 1px solid @grey;;
						}
						&:last-child{
							border-right: 1px solid @grey;
							border-top: 1px solid @grey;
						}
					}
					.actions{
						position: static;
						text-align: center;
						padding: 15px 0;
						-webkit-transform: none;
						   -moz-transform: none;
						    -ms-transform: none;
						     -o-transform: none;
						        transform: none;
					}
				}
			}
		}
	}
}

@media only screen and (max-width : 520px) {
	header{
		.top-bar{
			.top-bar-content{
				ul{
					li{
						&.mail{
							border:none;
						}
					}
				}
			}
		}
	}
	.main-nav{
		.nav-link{
			text-align: center;
			line-height: normal;
			svg{
				display: block;
				margin: 0 auto 5px;
			}
			i{
				display: block;
			}
		}
	}
}

@media only screen and (max-width : 420px) {
	header{
		.top-bar{
			.top-bar-content{
				ul{
					li{
						&.mail{
							border-right: 2px solid rgba(0,0,0,.1);
						}
						&.langs{
							border:none;
						}
					}
				}
			}
		}
	}
}