	/*
  	Flaticon icon font: Flaticon
  	Creation date: 19/07/2018 07:26
  	*/

@font-face {
  font-family: "Flaticon";
  src: url("./Flaticon.eot");
  src: url("./Flaticon.eot?#iefix") format("embedded-opentype"),
       url("./Flaticon.woff") format("woff"),
       url("./Flaticon.ttf") format("truetype"),
       url("./Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
  font-family: Flaticon;
        font-size: 20px;
font-style: normal;
}

.flaticon-pin-s:before { content: "\f100"; }
.flaticon-next:before { content: "\f101"; }
.flaticon-back:before { content: "\f102"; }
.flaticon-down-arrow:before { content: "\f103"; }
.flaticon-down-arrow-o:before { content: "\f104"; }
.flaticon-up-arrow:before { content: "\f105"; }
.flaticon-mail:before { content: "\f106"; }
.flaticon-pin:before { content: "\f107"; }
.flaticon-up-arrow-o:before { content: "\f108"; }
.flaticon-tick-inside-circle:before { content: "\f109"; }
.flaticon-email-filled-closed-envelope:before { content: "\f10a"; }