// variables
@primary:          #e2141c;
@secondry:         #e9e902;
@light-secondry:   #eeebc2;
@no-color:         transparent;
@white:            #ffffff;
@black:            #000000;
@dark:             #333333;
@grey:             #cccccc;
@light-grey:       #f4f3ee;
@dark-grey:        #8a8a8a;
@denger:            #a94442;

