// Core variables and mixins
@import "_variables.less";
@import "_mixins.less";

// default styles
body {
    font-family: 'Poppins', sans-serif;
    a{
        text-decoration: none;
        color: @grey;
        &:hover{
            text-decoration: none;
            color: @primary;
        }
        &:focus{
            text-decoration: none;
            color: @primary;
        }
    }
    &:hover{
        text-decoration: none;
    }
    &:focus{
        text-decoration: none;
    }
}


/* ==========================================================================
   Utility styles
   ========================================================================== */
.btn{
    border-radius: 0;
    &.btn-primary{
        background: @secondry;
        color: @primary;
        border-color: @primary;
    }
    &.btn-default{
        background: @primary;
        color: @white;
        border-color: @primary;
        &:hover{
            background: @no-color;
            color: @primary;
        }
    }
}
.empty-space{
    height: 15px;
}


/* ==========================================================================
   header Styles
   ========================================================================== */

header{
    background: @light-secondry;
    .top-bar{
        background: @secondry;
        .drop-shadow(0px, 1px, 3px, 0px, 0.3);
        .top-bar-content{
            ul{
                text-align: right;
                margin: 0;
                padding: 0;
                li{
                    display: inline-block;
                    padding: 5px 10px;
                    border-right: 2px solid rgba(0, 0, 0, 0.1);
                    margin: 5px 0;
                    vertical-align: middle;
                    &:first-child{
                        padding-left: 0;
                    }
                    &:last-child{
                        padding-right: 0;
                        border: none;
                    }
                    &.mail{
                        svg{
                            margin-right: 3px;
                        }
                    }
                    &.social{
                        padding: 0 10px;
                        a{
                            font-size: 22px; 
                        }
                    }
                    &.account{
                        a{
                            margin-right: 0;
                            padding-right: 5px;
                            &:last-child{
                                padding-left: 5px;
                            }
                        }
                    }
                    a{
                        font-size: 15px;
                        margin-right: 10px;
                        color: @dark;
                        &:last-child{
                            margin-right: 0;
                        }
                        &:hover{
                            color: @primary;
                            text-decoration: none;
                        }
                    }
                    span{
                        margin-right: 10px;
                        font-size: 15px;
                        color: @dark;
                    }
                }
            }
        }
    }
    .header{
        background: @no-color;
        .navbar-default{
            background: @no-color;
            border: none;
            padding: 35px 0;
            margin-bottom: 0;
            .navbar-header{
                float: none;
                margin-bottom: 10px;
                .navbar-brand{
                    padding: 0;
                    display: inline-block;
                    margin-left: 0;
                    height: auto;
                }
                .ad-link{
                    float: right;
                    font-weight: 600;
                }
            }
        }   
    }
}


/*=============================================
=            Main Nav Menus            =
=============================================*/

.main-nav{
    background: @primary;
    color: @white;
    border-radius: 5px;
    text-align: center;
    margin-top: -25px;
    margin-bottom: 20px;
    li{
        display: inline-block;
        width: 25%;
        border-left: 1px solid fade(@white, 30%);
        margin: 10px 0;
        &:last-child{
            border-right: 1px solid fade(@white, 30%);
        }
        a{
            color: @white;
            font-size: 18px;
            font-weight: 500;
            padding: 0;
            &:hover{
                background: @primary;
            }
            &:focus{
                background: @primary;
            }
        }
    }
}

/*=====  End of Main Nav Menus  ======*/


/*=============================================
=            Footer            =
=============================================*/

footer{
    background: fade(@light-secondry, 30%);
    padding: 60px 0 15px;
    .btn{
        border-radius: 6px;
    }
    h4{
        font-weight: bold;
    }
    .nav{
        li{
            a{
                padding: 0 0 5px;
                &:hover{
                    background: none;
                }
                &:focus{
                    background: none;
                }
            }
        }
    }
    .contact-us{
        > h4{
            padding: 0 10px;
        }
        .subscribe{
            padding: 0 10px;
        }
        .feedback{
            background: @dark-grey;
            border-radius: 6px;
            color: @white;
            &:hover{
                background: @no-color;
                color: @dark-grey;
                border-color: @dark-grey;
            }
            &:focus{
                background: @no-color;
                color: @dark-grey;
                border-color: @dark-grey;
            }
        }
        .contact{
            padding: 10px 0;
            h4{
                padding: 0 10px;
            }
            p{
                font-size: 16px;
                color: @dark-grey;
                padding: 0 10px;
            }
            .info{
                padding: 15px 10px;
                a{
                    font-size: 18px;
                    color: @primary;
                    padding-left: 10px;
                    display: inline-block;
                }
                svg{
                    color: @dark-grey;
                }
                &.mail-us{
                    border-bottom: 2px dashed @dark-grey;
                    a{
                        font-weight: 500;
                    }
                }
                &.call-us{
                    a{
                        font-weight: 600;
                    }
                }
            }
            .follow-us{
                padding: 0 10px;
                a{
                    margin-right: 15px;
                }
            }
        }
    }
    .contact-office{
        .address{
            display: inline-block;
            width: 100%;
            padding: 15px 0;
            border-bottom: 2px dashed @grey;
             &:last-child{
                border-bottom: none;
            }
            .map{
                float: left;
                margin-right: 20px;
            }
            p{
                font-weight: 500;
            }
            .direction-link{
                background: @grey;
                border-radius: 20px;
                color: @white;
                font-weight: 500;
            }
        }
    }
}
.copy-rights{
    background: @light-secondry;
    padding: 20px 0;
    p{
        margin: 0;
        font-size: 16px;
        font-weight: bold;
        color: @primary;
        a{
            color: @primary;

        }
    }
}

/*=====  End of Footer  ======*/



/*=============================================
=            Login / Signup Forms            =
=============================================*/

.form-wrapper{
    background: @light-grey;
    border-radius: 10px;
    padding: 50px 0;
    margin: 15px 0 30px;
    .drop-shadow(0px, 0px, 5px, 0, .3);
}
.form{
    margin: 0 auto;
    font-size: 18px;
    &.signup-form{
        width: 80%;   
    }
    &.login-form{
        width: 40%;
    }
    &.pass-rest-form{
        width: 50%;
        .form-head{
            margin: 0 0 5px;
            text-align: center;
        }
        > p{
            font-size: 17px;
            margin-top: 25px;
            color: @dark-grey;
        }
    }
    .form-head{
        margin: 0 0 25px;
        text-align: center;
    }
    .form-group{
        &.has-success{
            .radio-inline{
                color: @dark;
            }
            .control-label{
                color: @dark;
            }
            .form-control{
                border-color: @grey;
            }
        }
        .control-label{
            font-size: 14px;
        }
        .form-control{
            font-size: 16px;
            padding: 12px;
            height: auto;
            .box-shadow(none);
            &:focus{
                border-color: @grey;
            }
        }
        &.has-error{
            .form-control{
                &:focus{
                    border-color: @denger;
                }
            }
        }
        .help-block {
            font-size: 14px;
            margin: 0;
        }
        .input-group{
            .input-group-addon{
                background: @white;
                color: @grey;
            }
            .form-control{
                border-left: none;                    
            }
        }
        #signupform-user_type{
            text-align: center;
            margin: 15px 0 25px;
            label{
                padding-left: 30px;
                &:before{
                    content: '';
                    position: absolute;
                    width: 20px;
                    height: 20px;
                    border-radius: 100%;
                    left: 0;
                    top: 50%;
                    transform: translateY(-50%);
                    border: 2px solid @grey;
                }
                &:after{
                    content: '';
                    position: absolute;
                    width: 10px;
                    height: 10px;
                    border-radius: 100%;
                    left: 5px;
                    top: 50%;
                    transform: translateY(-50%);
                    background: @grey;
                }
                &.check{
                    &:before{
                        border-color: @primary;
                    }
                    &:after{
                        background: @primary;
                    }
                }
                input{
                    opacity: 0;
                    visibility: hidden;
                }
            }
        }
    }
    .username-wrapper{
        .form-group{
            margin: 0;
        }
    }
    .form-group{
        .checkbox{
            margin: 0;
            label{
                font-size: 14px;
                color: @dark-grey;
                position: relative;
                min-height: auto;
                padding-left: 27px;
                &:before{
                    content: '';
                    position: absolute;
                    width: 20px;
                    height: 20px;
                    left: 0;
                    top: 50%;
                    transform: translateY(-50%);
                    border: 1px solid @grey;
                    border-radius: 3px;
                    background: @white;
                    -webkit-transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
                    -o-transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
                    transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
                }
                &.checked{
                    &:before{
                        border-color: @primary;
                    }
                    &:after{
                        content: "\e013";
                        font-family: 'Glyphicons Halflings';
                        position: absolute;
                        left: 2px;
                        top: 0;
                        color: #e2141c;
                        -webkit-transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
                        -o-transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
                        transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
                    }
                }
                input{
                    opacity: 0;
                    visibility: hidden;
                }
            }
        }
        &.field-signupform-newsletter{
            label{
                color: @dark;
            }
        }
    }
    .forgot-pass {
        font-size: 15px;
        color: #337ab7;
    }
}

/*=====  End of Login / Signup Forms  ======*/




/*=============================================
=            Home Page            =
=============================================*/

.site-index{
    .form-wrapper{
        padding: 15px;
        .form-group{
            margin: 0;
        }
    }
}

/*categories-filter*/
.categories-filter{
    background: @grey;
    .section-heading{
        font-size: 20px;
        font-weight: 600;
    }
    .categories{
        padding: 0;
        margin: 0 -10px;
        .categories-grid{
            display: inline-block;
            width: 135px;
            margin: 10px;
            text-align: center;
            vertical-align: middle;
            cursor: pointer;
            &:hover{
                .cat-images{
                    border: 3px solid fade(@dark-grey, 70%);
                }
            }
            .cat-images{
                width: 100%;
                min-height: 100px;
                background: @white;
                position: relative;
                border: 1px solid fade(@dark-grey, 70%);
                border-radius: 6px;
                img{
                    position: absolute;
                    max-width: 80px;
                    max-height: 80px;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                }
            }
            .category-title{
                font-size: 14px;
                margin: 5px 0 0;
            }
        }
    }
}

/*recent ads listing*/
.recent-ads{
    .ads-listing{
        .ads-grid{
            img{
                width: 100%;
            }
        }
    }
}



/*=====  End of Home Page  ======*/